
/* Core Custom CSS */
.CoreOverflowHidden {
overflow: hidden !important;
}

.CoreOverflowHidden fieldset div.PageBody {
overflow: hidden !important;
}

.CoreCHK_Sidebar fieldset {
color: #bfbfbf !important;
}

input[type="radio"], input[type="checkbox"] {
margin: 0 5px !important;
}

a.CoreUnderline:hover {
border-bottom: 3px solid #CFE3EF !important;
}

a.CoreUnderline div {
font-family: Arial !important;
font-size: 12px !important;
font-weight: normal !important;
font-style: normal !important;
border-bottom : 0px !important;
}

a.CoreTab:hover {
background-color: #f3f3f3 !important;
border: 1px solid #669ab8 !important;
color: #000000 !important;
height: 26px !important;
}

a.CoreTab div {
font-family: Arial !important;
font-size: 12px !important;
font-weight: normal !important;
font-style: normal !important;
border-bottom : 0px !important;
}

a.CoreAction {
height: 26px !important;
color: #FFFFFF !important;
border-top: 1px solid #669ab8 !important;
}

a.CoreAction div {
font-family: Arial !important;
font-size: 12px !important;
font-weight: normal !important;
font-style: normal !important;
left: 2px;
}

a.CoreAction:hover {
background-color: #95BED7 !important;
border: 1px solid #669ab8 !important;
}

.CoreLine {
width: 98.7% !important;
height: 1px !important;
}

.Core_Header_Line {
height: 1px !important;
}

a.Core_Left div {
text-align: left !important;
}

a.CoreButton_White:hover {
color: #FFFFFF !important;
text-decoration: none ! important;
background-color: #656B74 !important;
}

a.CoreButton_White div {
font-family: Arial !important;
font-size: 12px !important;
font-weight: normal !important;
font-style: normal !important;
}

a.CoreButtonText div {
font-family: Arial !important;
font-size: 12px !important;
font-weight: normal !important;
font-style: normal !important;
}

.CoreHeader td {
font-family: Arial !important;
font-size: 16px !important;
font-weight: normal !important;
font-style: normal !important;
}

.CoreAppHeader td {
font-family: Arial !important;
font-weight: normal !important;
font-style: normal !important;
}

.CoreTitle td {
font-family: Arial !important;
font-weight: normal !important;
font-style: normal !important;
}

.Core_12 td{
font-size: 12px !important;	
}

.Core_14 td{
font-size: 14px !important;	
}

.Core_16 td{
font-size: 16px !important;	
}

.Core_18 td{
font-size: 18px !important;	
}

.Core_20 td{
font-size: 20px !important;	
}

.Core_22 td{
font-size: 22px !important;	
}

.Core_24 td{
font-size: 24px !important;	
}

.Core_Bold td{
font-weight: bold !important;	
}

.Core_Italic td{
font-style: italic !important;	
}

a.CoreBCHover:hover {
font-family: droidsansregular, arial !important;
background-color: #0588BC !important;
color: #FFFFFF !important;
text-decoration: none ! important;
}

a.Core_General_Button:hover {
color: #000000 !important;
text-decoration: none ! important;
background-color: #D2D5D5 !important;
}

a.Core_General_Button div {
font-family: Arial !important;
font-size: 12px !important;
font-weight: normal !important;
font-style: normal !important;
}

a.CoreButton div, a.Core_Blue_Button div, a.Core_Red_Button div, a.Core_Green_Button div, a.Core_Grey_Button div, a.CoreSelect div {
font-family: Arial !important;
font-size: 11px !important;
font-weight: normal !important;
color: #FFFFFF !important;
border-radius: 10px;
}

a.Core_Grey_Button div {
color: #4e4e4e !important;
}

a.CoreButton, a.Core_Blue_Button, a.Core_Red_Button, a.Core_Green_Button, a.Core_Grey_Button, a.CoreSelect {
border-radius: 3px;
border-width: 1px;
}

a.CoreButton div.btnimgdiv, a.Core_Blue_Button div.btnimgdiv, a.Core_Red_Button div.btnimgdiv, a.Core_Green_Button div.btnimgdiv, a.Core_Grey_Button div.btnimgdiv, a.CoreSelect div.btnimgdiv {
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

a.CoreButton div.btnimgdiv img, a.Core_Blue_Button div.btnimgdiv img, a.Core_Red_Button div.btnimgdiv img, a.Core_Green_Button div.btnimgdiv img, a.Core_Grey_Button div.btnimgdiv img, a.CoreSelect div.btnimgdiv img {
padding-left: 2px !important;
top: 4px !important;
}

a.CoreButton div.btntextdiv div, a.Core_Blue_Button div.btntextdiv div, a.Core_Red_Button div.btntextdiv div, a.Core_Green_Button div.btntextdiv div, a.Core_Grey_Button div.btntextdiv div, a.CoreSelect div.btntextdiv div {
margin-top: -7px !important;
}

a.CoreButton div.btntextdiv, a.Core_Blue_Button div.btntextdiv, a.Core_Red_Button div.btntextdiv, a.Core_Green_Button div.btntextdiv, a.Core_Grey_Button div.btntextdiv , a.CoreSelect div.btntextdiv {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

a.CoreButton {
	background: #6CA4C5 !important;
}
a.CoreButton div {
	background: transparent !important;
}
a.CoreButton:hover {
	background: #00578A !important;
}

a.CoreSelect {
	background: #6CA4C5;
}
a.CoreSelect div {
	background: transparent !important;
}
a.CoreSelect:hover {
	background: #00578A !important;
}

a.Core_Blue_Button {
	background: #669ab8 !important;
}
a.Core_Blue_Button div {
	background: transparent !important;
}
a.Core_Blue_Button:hover {
	background: #00578A !important;
}

a.Core_Grey_Button {
	background: #c0c0c0 !important;
}
a.Core_Grey_Button div {
	background: transparent !important;
}
a.Core_Grey_Button:hover {
	background: #B4B4B4 !important;
}

a.Core_Red_Button {
	background: #D64937 !important;
}
a.Core_Red_Button div {
	background: transparent !important;
}
a.Core_Red_Button:hover {
	background: #D14130 !important;
}

a.Core_Green_Button {
	background: #08A651 !important;
}
a.Core_Green_Button div {
	background: transparent !important;
}
a.Core_Green_Button:hover {
	background: #005628 !important;
}

/* IE Positioning Fix */
.Core_Right {
position: absolute !important;
}

/* IE Scrollbar Fix */
#FormContainer {
    overflow:hidden !important;
}

/* Popup Dialog Fix */
div.DIVPopup, div.DIVPopupNoBorder {
box-shadow: 3px 3px 5px #888888 !important;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 0px !important;
border-bottom-left-radius: 0px !important;
}

/* Verticle Text Fix */
div.PageHeaderHorizontal span.label {
font-family: Arial;
font-size: 9pt;
}

div.PageHeaderVertical span.f1, div.PageHeaderHorizontal span.f1 {
font-weight: normal !important;	
}

/* Gradient Fix */
.CoreGradientFix div.PageBody {
background-color: inherit !important;
}

/* Overview Sidebar */
a.CoreSidebarBtn:hover {
background-color: #E0E0E0  ! important;
}

/* Default Link Behaviour */
a.btnurl {
text-decoration:none;
}

a.btnurl:hover {
text-decoration:underline;
}

/* Tree Table CSS */
div.Core_Tree {
border-color: #E0E0E0 !important;
}

.Core_Tree a.btn {
font-family: Arial !important;
font-size: 11px !important;
}

/* Home Page Tree Table CSS */
div.Core_HP_Tree {
border-color: #E0E0E0 !important;
border: 0px !important;
}

.Core_HP_Tree a.btn {
font-family: Arial !important;
font-size: 12px !important;
color: #00578A !important;
border: 0px !important;
top: 2px !important;
position: relative !important;
}

.Core_HP_Tree a.btn:hover {
color: #FFFFFF !important;
}

.Core_HP_Tree .treetitlerollover {
background-color: #0588BC !important;
color: #FFFFFF !important;
cursor:pointer;
}

.Core_HP_Tree .treeimgsize {
height: 25px !important;
top: 5px !important;
width: 10px !important;
}

/* Timeline CSS */
div.tl_recent_items, div.tl_reminders, div.tl_watchlist, div.tl_slas, div.tl_broadcasts, div.tl_assignments, div.tl_appointments, div.core_tl_loadmore, div.core_ri_row {
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
border: 0px solid #d8d8d8;
border-bottom-width: 1px;
vertical-align: top;
width: 100%;
padding: 4px;
padding-bottom: 6px;
margin: 0;
position: relative;
cursor: pointer;
float:left;
clear:both;
width:100%;
}

div.tl_recent_items:hover, div.tl_reminders:hover, div.tl_watchlist:hover, div.tl_slas:hover, div.tl_broadcasts:hover, div.tl_appointments:hover, div.tl_assignments:hover, div.core_tl_loadmore:hover , div.core_ri_row:hover{
background-color: #d8d8d8 !important;
cursor: pointer;
}

.tl_body {
background-color: #c0c0c0 !important;
overflow: auto !important;
}

.tl_content {
background-color: #FFFFFF !important;
padding-top: 0px !important;
padding-bottom: 0px !important;
width: 100% !important;
}

.tl_icon {
width: 28px;
float: left;
}

.tl_icon  img{
background-size: 28px 28px;
border-radius: 50%;
display: block;
height: 28px;
width: 28px;
}

.tl_summary {
font-size: 11px;
color: #555;
position:relative;
}

.tl_text {
font-family: arial !important;
font-size: 12px !important;
color: #000000 !important;
position: relative;
padding-left: 34px;
}

.tl_loadmore_text {
font-family: arial !important;
font-size: 12px !important;
color: #00578A !important;
float: right;
}

.tl_date {
font-family: arial !important;
font-size: 11px !important;
color: #555 !important;
padding-left: 34px !important;
float: left;
position: relative;
}

/* Menu CSS */
div.MenuOuter {
border: 1px solid #E8E8E8 !important
}

td.MenuEntryName {
font-family: arial !important;
font-size: 11px !important;
}

td.MenuEntryNameHover, td.MenuEntryName {
padding-top: 4px;
padding-bottom: 4px;
}

td.MenuEntryNameHover, td.MenuEntryNoSubHover {
font-family: arial !important;
font-size: 11px !important;
background-color: #0588BC !important;
color: #FFFFFF !important;
cursor: pointer;
}

td.MenuEntrySubHover {
background-color: #0588BC !important;
}

div.Core_Menu a.btn3d  {
background-color: transparent !important;
border-color: transparent !important;
background: none !important;
height: 25px !important;
top: -5px !important;
}

div.Core_Menu a.btn3d  img {
top: -209px !important;
}

div.Core_Menu a.btn3ddown {
background-color: #0588BC !important;
background: #0588BC !important;
border-color: transparent !important;
height: 25px !important;
}

div.Core_Menu a.btn3ddown img {
left: -9px !important;
top: -1929px !important;
}

div.Core_Menu a.btn3d:hover {
background-color: #0588BC !important;
background: #0588BC !important;
color: #000000 !important;
text-decoration: none !important;
height: 25px !important;
}

div.Core_Menu a.btn3d:hover  img {
left: -9px !important;
top: -1929px !important;
}

div.Core_Menu textarea {
width: 0px !important;
border: 0px !important;
background: transparent !important;
}

/* Search Results CSS */
.core_search_card {
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: transparent;
border: 0px;
vertical-align: top;
width: 100%;
padding: 4px;
margin: 0;
position: relative;
cursor: pointer;
float:left;
clear:both;
width:100%;
}

.core_search_card_icon {
width: 28px;
float: left;
margin-top: 4px;
}

.core_search_card_icon img{
background-size: 28px 28px;
border-radius: 50%;
display: block;
height: 28px;
width: 28px;
}

div.core_search_card:hover {
background-color: #C1E1F5;
cursor: pointer;
}

.core_sr_text {
font-family: arial;
font-size: 12px;
color: #000000;
position: relative;
padding: 0 0 0 36px;
}

.core_sr_detail {
float: left;
font-family: arial;
font-size: 12px;
color: #000000;
position:relative;
line-height: 20px;
margin-top: 1px;
padding: 0 0 0 19px;
}

.core_sr_indent {
font-family: arial;
font-size: 12px;
padding: 0 0 0 36px;
position: relative;
}

.core_sr_title {
float: left;
font-family: arial;
font-size: 12px;
font-weight: bold;
color: #000000;
position:relative;
line-height: 20px;
margin-top: 1px;
}

.core_sr_action {
font-family: arial;
font-size: 11px !important;
padding: 0 0 0 40px !important;
position: relative !important;
}

.core_sr_table {
display:table;         
width:100%;
position:relative;
clear: both;
top: 3px;
line-height: 20px;
}

.core_sr_row {
display:table-row;
width:auto;
clear:both;
position: relative;
}

.core_sr_field_l {
float:left;/*fix for  buggy browsers*/
display:table-column;         
width:120px;
font-weight: bold;
text-align: left;
font-family: arial;
font-size: 11px;
position: relative; 
white-space: normal;
color: #4e4e4e;
}

.core_sr_data_l {
float:left;/*fix for  buggy browsers*/
display:table-column;         
width:150px;
left: 10px;
text-align: left;
font-family: arial;
font-size: 11px;
padding-right: 5px;
position: relative;
white-space: normal;
word-wrap: break-word;
}

.core_sr_field_r {
float:left;/*fix for  buggy browsers*/
display:table-column;         
font-weight: bold;
text-align: left;
font-family: arial;
font-size: 11px;
position: relative; 
white-space: normal;
color: #4e4e4e;
}

.core_sr_data_r {
float:left;/*fix for  buggy browsers*/
display:table-column;         
text-align: left;
font-family: arial;
font-size: 11px;
padding-right: 5px;
position: relative;
white-space: normal;
word-wrap: break-word;
left: 10px;
}

.core_sr_large_field {
float:left;/*fix for  buggy browsers*/
display:table-column;         
font-weight: bold;
text-align: left;
font-family: arial;
font-size: 11px;
position: relative;
white-space: normal;
color: #4e4e4e;
}

.core_sr_large_data {
float:left;/*fix for  buggy browsers*/
display:table-column;         
text-align: left;
font-family: arial;
font-size: 11px;
position: relative;
white-space: normal;
word-wrap: break-word;
}

.core_rel_field {
float:left;/*fix for  buggy browsers*/
display:table-column;         
width:100px;
font-weight: bold;
text-align: left;
font-family: arial;
font-size: 11px;
position: relative; 
white-space: normal;
}

.core_rel_data {
float:left;/*fix for  buggy browsers*/
display:table-column;         
width:150px;
text-align: left;
font-family: arial;
font-size: 11px;
padding-right: 5px;
position: relative;
white-space: normal;
word-wrap: break-word;
}

.core_case_icon_locked:before {
content: "\6c";
}

.core_case_icon_locked {
top: 25px;
}

/* Calendar Widget CSS */

div.DIVPopupNoHdr {
border: 1px solid #C0C0C0 !important;
width: 235px !important;
height: 305px !important;
padding: 2px !important;
}

div.DIVPopupNoHdr  td.MenuEntryName {
font-family: Arial !important;
font-size: 11px !important;
}

#calendar td {
height: 25px !important;
border: none;
}

input#popupmonth, input#popupyear {
border: 1px solid #C0C0C0 !important;
}

table.DIVPopup, table.DIVPopupNoHdr {
border: 1px solid #C0C0C0 !important;
}

table.DIVPopupNoHdr td.DIVPopupBodyNoHdr tr.header {
background-color: #FFFFFF !important;
}

table.DIVPopupNoHdr td.DIVPopupBodyNoHdr {
border-color: #FFFFFF !important;
width: 230px !important;
height: 262px !important;
}

#calendar > table {
border-collapse: collapse !important;
}

table.calendarTable {
background-color: #FFFFFF !important;
}

table.calendarTable td {
font-family: Arial !important;
border-collapse: collapse !important;
}

tr.daysofweek {
background-color: #00578A !important;
border: 1px solid #00578A !important;
font-weight: normal !important;
}

tr.daysofweek th.day {
color: #FFFFFF !important;
font-family: Arial !important;
font-size: 12px !important;
text-transform:none !important;
}

#popupmonth, #popupyear, td.weekday, td.weekend {
font-family: Arial !important;
}

td.weekday, td.weekend {
font-family: Arial !important;
background: none repeat scroll 0 0 #F5F5F5 !important;
border: 1px solid #C0C0C0 !important;
border-collapse: collapse !important;
height: 25px !important;
width: 25px !important;
padding: 0 !important;
}

td.weekday:hover, td.weekend:hover {
color: #FFFFFF !important;
font-family: Arial !important;
border-color: #0588BC !important;
background-color: #0588BC !important;
}

td.selected, td.selected:hover {
color: #FFFFFF !important;
font-family: Arial !important;
border: 0px solid #0588BC !important;
background-color: #0588BC !important;
}

td.calendaron, td.calendaron:hover {
color: #FFFFFF !important;
font-family: Arial !important;
border-color: #507642 !important;
background-color: #507642 !important;
}

div.showTime {
background-image: none !important;
}

div.showTime input.text, div.showTime input.decimal, div.showTime input.currency, div.showTime textarea.text, div.showTime div.text {
border: 0px !important;
font-family: Arial !important;
font-size: 12px !important;
}

td.DIVPopupButtons, div.DIVPopupButtons {
background-color: #FFFFFF !important;
}

div.showTime {
top: 0px !important;
}

div.DIVPopupNoHdr a.btn3d, div.DIVPopupNoHdr a.btn3ddown, div.DIVPopupNoHdr button.btn3d, div.DIVPopupNoHdr button.btn3ddown  {
background: none !important;
background-color: #FFFFFF !important;
border-color: #FFFFFF !important;
}

div.DIVPopupNoHdr a.btn3d div, div.DIVPopupNoHdr a.btn3ddown div, div.DIVPopupNoHdr button.btn3d div, div.DIVPopupNoHdr button.btn3ddown div {
font-family: Arial !important;
font-size: 11px !important;
}

div.DIVPopupNoHdr a.btn3d:hover, div.DIVPopupNoHdr a.btn3ddown:hover, div.DIVPopupNoHdr button.btn3d:hover, div.DIVPopupNoHdr button.btn3ddown:hover {
background-color: #0588BC !important;
}

.DIVPopupBodyNoHdr tr {
height: 0 !important;
}

.DIVPopupButtons.bottomborder td {
height: 0 !important;
}

table.DIVPopupNoHdr td.DIVPopupButtons {
border-color: #FFFFFF !important;
height: 35px !important;
}

div.DIVPopupNoHdr td.bottomborder a.btn3d, div.DIVPopupNoHdr td.bottomborder a.btn3ddown, div.DIVPopupNoHdr td.bottomborder button.btn3d, div.DIVPopupNoHdr td.bottomborder button.btn3ddown  {
height: 23px !important;
background: none !important;
background: #BBBBBB !important;
border: 1px solid #CCCCCC !important;
border-radius: 2px;
top: 0px !important;
width: 60px !important;
cursor: pointer !important;
}

div.DIVPopupNoHdr td.bottomborder a.btn3d div, div.DIVPopupNoHdr td.bottomborder a.btn3ddown div, div.DIVPopupNoHdr td.bottomborder button.btn3d div, div.DIVPopupNoHdr td.bottomborder button.btn3ddown div {
height: 23px !important;
font-family: Arial !important;
font-size: 11px !important;
font-weight: bold !important;
color: #262626 !important;
text-transform:uppercase;
padding-top: 4px !important;
background: none !important;
background: #BBBBBB  !important;
border: none !important;
border-radius: 2px;
cursor: pointer !important;
}

div.DIVPopupNoHdr td.bottomborder a.btn3d:hover div, div.DIVPopupNoHdr td.bottomborder a.btn3ddown:hover div, div.DIVPopupNoHdr td.bottomborder button.btn3d:hover div, div.DIVPopupNoHdr td.bottomborder button.btn3ddown:hover div {
background-color: transparent !important;
cursor: pointer !important;
color: #262626 !important;
border: none !important;
}

div.DIVPopupNoHdr td.bottomborder div.btntextdiv {
cursor: pointer !important;
height: 23px !important;
padding-top:2px !important;
}

div.DIVPopupNoHdr a.btn3d:hover, div.DIVPopupNoHdr button.btn3d:hover {
font-weight: bold !important;
color: #262626 !important;
text-transform:uppercase;
background: none !important;
background: #BBBBBB  !important;
border: none !important;
border-radius: 2px;
cursor: pointer !important;
}

div.DIVPopupNoHdr a.selectionbtn {
background: none !important;
border: 1px solid #CCCCCC !important;
}

div.DIVPopupNoHdr a.selectionbtn:hover {
background: none !important;
background: #BBBBBB !important;
border: 1px solid #CCCCCC !important;
}

table.calendarTable:hover a.btn3d, table.calendarTable a.btn3ddown:hover, table.calendarTable button.btn3d:hover, table.calendarTable button.btn3ddown:hover {
background-color: #BBBBBB !important;
}

/* Broadcast CSS */
table.core_broadcast {
border: none;
padding: 0px;
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 25px;
}

.core_broadcast td {
color: #323232;
font-family: Arial;
font-size: 12px;
}

/* Search Menu CSS */
div.Core_Menu_Search a.btn3d  {
background-color: transparent !important;
border-color: transparent !important;
background: none !important;
height: 21px !important;
top: -3px !important;
}

div.Core_Menu_Search a.btn3d  img {
top: -211px !important;
}

div.Core_Menu_Search a.btn3ddown {
background-color: #c0c0c0 !important;
background: #c0c0c0 !important;
border-color: transparent !important;
height: 21px !important;
}

div.Core_Menu_Search a.btn3ddown img {
background-image: url("../../../../shared/column/images/fields/fields_333.png") !important;
left: 1px !important;
top: -74px !important;
}

div.Core_Menu_Search a.btn3d:hover {
background-color: #c0c0c0 !important;
background: #c0c0c0 !important;
color: #000000 !important;
text-decoration: none !important;
height: 21px !important;
}

div.Core_Menu_Search a.btn3d:hover  img {
background-image: url("../../../../shared/column/images/fields/fields_333.png") !important;
left: 1px !important;
top: -74px !important;
}

div.Core_Menu_Search textarea {
width: 0px !important;
border: 0px !important;
background: transparent !important;
}

/* Read Only Field CSS */
div.Core_Read_Only textarea {
background-color: #dee0e0 !important;
}

/* Actions Menu IE8 Fix */
div.arfid675000220 div.PageBody {
overflow-x: hidden !important;
overflow-y: auto !important;
}

/* Actions Menu IE9 Fix */
div.arfid675000197 fieldset {
height: 100% !important;
}

/* Dropdown Menu CSS */
div.Core_Menu_Drop div.selection {
left: 5px !important;
}

div.Core_Menu_Drop a.btn3d  {
background-color: transparent !important;
border-color: transparent !important;
background: none !important;
height: 21px !important;
top: -1px !important;
}

div.Core_Menu_Drop a.btn3ddown {
background-color: #c0c0c0 !important;
background: #c0c0c0 !important;
border-color: transparent !important;
height: 21px !important;
}

div.Core_Menu_Drop a.btn3ddown img {
background-image: url("../../../../shared/column/images/fields/fields_333.png") !important;
left: 1px !important;
top: -74px !important;
}

div.Core_Menu_Drop a.btn3d:hover {
background-color: #c0c0c0 !important;
background: #c0c0c0 !important;
color: #000000 !important;
text-decoration: none !important;
height: 21px !important;
}

div.Core_Menu_Drop a.btn3d:hover  img {
background-image: url("../../../../shared/column/images/fields/fields_333.png") !important;
left: 1px !important;
top: -74px !important;
}

div.Core_Menu_Drop input.text {
border-style: none !important;
}

div.Core_Menu_Drop div.selection input {
width: 0px !important;
background-color: transparent !important;
}

div.Core_Menu_Drop div.selection {
top: 0px !important;
}

/* Field Widget CSS */
input.text, input.decimal, input.currency, textarea.text, div.text {
border: 1px solid #c0c0c0 !important;
}

textarea.dat {
border: none !important;
}

div.integer input.text {
border: 1px solid #c0c0c0 !important;
}

div.selection input {
border-right: none !important;
}

.yui-skin-sam .yui-editor-container {
border: 1px solid #c0c0c0 !important;
}

a.btn3d, a.btn3ddown, button.btn3d, button.btn3ddown {
border: 1px solid #c0c0c0 !important;
background: #c0c0c0 !important;
}

div.Char a.menu img, div.Currency a.menu img, div.Group a.menu img, a.selectionbtn img {
left: 1px !important;
top: -74px !important;
background-image: url("../../../../shared/column/images/fields/fields_333.png") !important;
}

div.Date a img, div.Time a img {
top: -50px !important;
left: 1px !important;
background-image: url("../../../../shared/column/images/fields/fields_333.png") !important;
}

div.TOD a img {
top: -93px !important;
left: 1px !important;
background-image: url("../../../../shared/column/images/fields/fields_333.png") !important;
}

div.Char a.expand img, div.Group a.expand img {
top: 2px !important;
left: 1px !important;
background-image: url("../../../../shared/column/images/fields/fields_333.png") !important;
}

input.text, input.decimal, input.currency, textarea.text, div.text {
border-radius: 2px;
}

div.Char a.richtext img, div.Currency a.richtext img, div.Group a.richtext img {
left: 1px !important;
top: 1px !important;
background-image: url("../../../../shared/column/images/fields/edit.png") !important;
box-sizing: border-box;
display: block;
height: 21px;
padding-left: 21px;
width: 21px;
background-repeat: no-repeat;
}

/* Action Menu CSS */
.core_action {
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: #23272d;
border-top-width: 0px;
vertical-align: top;
width: 100%;
padding: 12px 8px 8px 15px;
margin: 0;
position: relative;
cursor: pointer;
float:left;
clear:both;
}

.core_action_icon {
width: 20px;
float: left;
}

.core_action_icon img{
background-size: 20px 20px;
display: block;
height: 20px;
width: 20px;
}

.core_action_content {
font-family: arial;
font-size: 14px;
color: #c0c0c0;
position: relative;
padding-left: 28px;
top:2px;
}

.core_action_content:hover {
color: #ffffff;
}

/* Message Centre Nav Menu CSS */
.core_nav {
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: transparent;
border-top-width: 0px;
vertical-align: top;
width: 100%;
padding: 12px 8px 8px 15px;
margin: 0;
position: relative;
cursor: pointer;
float:left;
clear:both;
}

.core_nav:hover {
background-color: #c1e1f5 !important;
}

.core_nav_icon {
width: 20px;
float: left;
}

.core_nav_icon img{
background-size: 20px 20px;
display: block;
height: 20px;
width: 20px;
}

.core_nav_content {
font-family: arial;
font-size: 14px;
color: #262626;
position: relative;
padding-left: 28px;
top:2px;
}

/* Avatar CSS */
.core_avatar_card_icon {
width: 38px;
float: left;
}

.core_avatar_card_icon img{
background: url('../../../../shared/column/images/icons/people.png') no-repeat;
background-size: 38px 38px;
border-radius: 50%;
display: block;
height: 38px;
width: 38px;
}

.core_avatar_card_header {
font-family: Arial;
font-weight: bold;
color: white;
font-size: 12px;
padding-left: 45px;
float:left;
position: relative !important;
}

.core_avatar_card_detail {
font-weight: normal;
font-family: arial;
color: white;
font-size: 12px !important;
}

.core_avatar_card_header_Black {
font-family: Arial;
font-weight: bold;
color: black;
font-size: 12px;
padding-left: 45px;
float:left;
position: relative !important;
}

.core_avatar_card_detail_black {
font-weight: normal;
font-family: arial;
color: black;
font-size: 12px !important;
}

.core_avatar_main {
position: relative;
clear:both;
padding: 5px;
}

a.link, a.link {
color: #0588BC;
text-decoration: none;
}

a.link:hover, a.link:hover {
text-decoration: underline;
}

/* Message Results CSS */
.core_msg_card {
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
border: 1px solid #d8d8d8;
border-top-width: 0px;
vertical-align: top;
width: 100%;
padding: 4px;
margin: 0;
position: relative;
cursor: pointer;
float:left;
clear:both;
width:100%;
}

.core_msg_card_icon {
width: 32px;
float: left;
}

.core_msg_card_icon img{
background-size: 32px 32px;
border-radius: 50%;
display: block;
height: 32px;
width: 32px;
}

div.core_msg_card:hover {
background-color: #C1E1F5;
cursor: pointer;
}

.core_msg_text {
font-family: arial;
font-size: 12px;
color: #000000;
position: relative;
padding: 0 0 0 40px;
}

.core_msg_title {
float: left;
font-family: arial;
font-size: 12px;
font-weight: bold;
color: #000000;
position:relative;
line-height: 20px;
margin-top: -2px;
}

.core_msg_table {
display:table;         
width:auto;
position:relative;
clear: both;
}

.core_msg_row {
display:table-row;
width:auto;
clear:both;
position: relative;
}

.core_msg_large_data {
float:left;/*fix for  buggy browsers*/
display:table-column;         
text-align: left;
font-family: arial;
font-size: 11px;
position: relative;
white-space: normal;
word-wrap: break-word;
}

/* Enable Trim Text Selection */
.trimJustl {
-moz-user-select: text !important;
-ms-user-select: !important;
user-select: !important;
}

/* Ratings CSS */
div.stars {
    display: block;
    background: url("../../../../shared/column/images/solutions/star-on.png") no-repeat;
    height: 16px;
    width: 16px;
    position: relative;
    float:left;
}
div.nostars {
    display: block;
    background: url("../../../../shared/column/images/solutions/star-off.png") no-repeat;
    height: 16px;
    width: 16px;
    position: relative;
    float:left;
}

/* Chat CSS */
.core_chat_container {
padding: 2px;
position: relative;
width: 100%;
word-wrap: break-word;
clear:both;
overflow: auto;
cursor: pointer;
}

.core_chat_user {
color: #00578A;
position: absolute;
padding-left: 40px;
font: 11px Arial;
font-weight: bold;
width: 200px;
}

.core_chat_date {
color: #A1A1A1;
position: absolute;
font: 11px Arial;
right: 5px;
top: 3px;
}

.core_chat_message {
position: relative;
font: 12px Arial;
padding-left: 40px;
padding-top: 18px;
clear:both;
width: 100%;
}

.core_chat_inline {
position: relative;
font: 12px Arial;
padding-left: 40px;
width: 100%;
}

.core_chat_hr {
border: none;
height: 1px;
color: #F4F4F4;
background-color: #F4F4F4;
}

.core_char_person_icon {
width: 32px;
float: left;
position: absolute;
}

.core_char_person_icon img {
background-size: 32px 32px;
border-radius: 50%;
display: block;
height: 32px;
width: 32px;
}

.chat_att_name {
position: relative;
padding-left: 5px;
float: left;
}

.chat_att_controls {
position: relative;
padding-left: 5px;
padding-top: 3px;
float: left;
font-size: 11px;
color: #0588BC;
cursor: pointer;
}

.core_chat_message > img {
float: left;
height: 32px;
cursor: pointer;
}

.chat_control_open {
float: left;
}

.chat_control_remove {
float:left;
padding-left: 20px;
visibility: hidden;
}

.core_chat_bubble {
width: 14px;
top: 3px;
position: relative;
}

.core_chat_remove {
height: 16px;
top: 2px;
position: relative;
left: -3px;
}

.core_chat_edit {
height: 14px;
top: 2px;
position: relative;
padding-right: 5px;
}

.core_chat_emoticon {
height: 20px !important;
float: none !important;
}

.core_chat_system {
position: relative;
font: 11px Arial;
padding-left: 40px;
color: #999;
clear:both;
width: 100%;
}

.core_chat_remove_text {
position: relative;
font: 11px Arial;
padding-left: 40px;
padding-top:18px;
color: #999;
clear:both;
width: 100%;
}

/* Portal Solution Results CSS */
.core_solution_body {
	margin:  0;
	padding:  5px;
	position:  relative;
	top:  0;
	left:  0;
	color:  #000000;
	border: 0px;
	height: 100%;
	overflow-y: auto !important;
}

#core_solution_content {
	padding:  0;
	padding-top: 1px;
}

.core_solution_title {
font-size: 12px;
font-family: arial;
color: #0588bc;
font-weight: normal;
position:relative;
}
		
.core_solution_description {
font-size: 12px;
font-family: Arial;
color: #646464;
}

/* Portal CSS */
.core_solution_card {
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: transparent;
border: 0px;
vertical-align: top;
width: 100%;
padding: 4px;
margin: 0;
position: relative;
cursor: pointer;
float:left;
clear:both;
width:100%;
}

.core_solution_card:hover {
cursor: default;
}

.core_solution_card_icon {
width: 28px;
float: left;
margin-top: 4px;
}

.core_solution_card_icon img{
background-size: 28px 28px;
border-radius: 50%;
display: block;
height: 28px;
width: 28px;
}

/* Table CSS */
.Core_Attachment_Table div.TableHdr, .Core_Attachment_Table div.TableHdr, .Core_GRP_Table div.TableHdr, .Core_GEN_Table div.TableHdr, .Core_MSG_Table div.TableHdr, .Core_HTML_Table div.TableHdr {
background-color: #F0F0F0 !important;
border: 1px solid #F0F0F0 !important;
}

.Core_Attachment_Table div.TableHdr {
border: 0px !important;
}

.Core_Table  div.TableHdr, .Core_Small_Table  div.TableHdr {
border-top: 1px solid #c0c0c0 !important;
}

.Core_NAV_Table div.TableHdr , .Core_ACT_Table div.TableHdr {
background-color: transparent !important;
}

.Core_Small_Table .TableFtrL, .Core_Small_Table .TableFtrR, .Core_Table .TableFtrL, .Core_Table .TableFtrR {
background: #ffffff !important;
}

.Core_Small_Table div.BaseTableHeader, .Core_Table div.BaseTableHeader {
color: #555555 !important;
background-image: none !important;
background-color: #FFFFFF !important;
background: #FFFFFF !important;
font-weight: normal !important;
font-family: Arial !important;
font-size: 11px !important;
padding-top: 1px !important;
filter: none !important;
}

.Core_Small_Table div.BaseTableHeader {
color: #000000 !important;
}

.Core_GRP_Table div.BaseTableHeader, .Core_GEN_Table div.BaseTableHeader, .Core_MSG_Table div.BaseTableHeader, .Core_NAV_Table div.BaseTableHeader, .Core_ACT_Table div.BaseTableHeader, .Core_Attachment_Table div.BaseTableHeader, .Core_HTML_Table div.BaseTableHeader {
height: 0px !important;
background: none !important;
}

.Core_GRP_Table table.TableHdr, .Core_GEN_Table table.TableHdr, .Core_MSG_Table table.TableHdr, .Core_HTML_Table table.TableHdr, .Core_Small_Table table.TableHdr, .Core_Table table.TableHdr {
background-color: #FFFFFF !important;
}

.Core_NAV_Table table.TableHdr, .Core_ACT_Table table.TableHdr {
background-color: transparent !important;
}

.Core_GRP_Table a.Prefs, .Core_GRP_Table a.Ref, .Core_GRP_Table a.Rep, .Core_GRP_Table a.SelAll , .Core_GRP_Table a.DeselAll, .Core_GEN_Table a.Prefs, .Core_GEN_Table a.Ref, .Core_GEN_Table a.Rep, .Core_GEN_Table a.SelAll , .Core_GEN_Table a.DeselAll, .Core_MSG_Table a.Prefs, .Core_MSG_Table a.Ref, .Core_MSG_Table a.Rep, .Core_MSG_Table a.SelAll , .Core_MSG_Table a.DeselAll, .Core_NAV_Table a.Prefs, .Core_NAV_Table a.Ref, .Core_NAV_Table a.Rep, .Core_NAV_Table a.SelAll , .Core_NAV_Table a.DeselAll, .Core_ACT_Table a.Prefs, .Core_ACT_Table a.Ref, .Core_ACT_Table a.Rep, .Core_ACT_Table a.SelAll , .Core_ACT_Table a.DeselAll, .Core_HTML_Table a.Prefs, .Core_HTML_Table a.Ref, .Core_HTML_Table a.Rep, .Core_HTML_Table a.SelAll , .Core_HTML_Table a.DeselAll, .Core_Small_Table a.Prefs, .Core_Small_Table a.Ref, .Core_Small_Table a.Rep, .Core_Small_Table a.SelAll , .Core_Small_Table a.DeselAll, .Core_Table a.Prefs, .Core_Table a.Ref, .Core_Table a.Rep, .Core_Table a.SelAll , .Core_Table a.DeselAll   {
font-family: Arial !important;
font-size: 12px !important;
font-weight: normal !important;
font-style: normal !important;
border: 0px !important;
text-transform: none ! important;
background-color: #F4F4F4 !important;
border: solid 1px #D9D9D9 !important;
background-image: none !important;
color: #444 !important;
border-radius: 2px;
cursor: pointer;
}

.Core_GRP_Table a.Prefs:hover, .Core_GRP_Table a.Ref:hover, .Core_GRP_Table a.Rep:hover, .Core_GRP_Table a.SelAll:hover , .Core_GRP_Table a.DeselAll:hover, .Core_GEN_Table a.Prefs:hover, .Core_GEN_Table a.Ref:hover, .Core_GEN_Table a.Rep:hover, .Core_GEN_Table a.SelAll:hover , .Core_GEN_Table a.DeselAll:hover, .Core_MSG_Table a.Prefs:hover, .Core_MSG_Table a.Ref:hover, .Core_MSG_Table a.Rep:hover, .Core_MSG_Table a.SelAll:hover , .Core_MSG_Table a.DeselAll:hover, .Core_NAV_Table a.Prefs:hover, .Core_NAV_Table a.Ref:hover, .Core_NAV_Table a.Rep:hover, .Core_NAV_Table a.SelAll:hover , .Core_NAV_Table a.DeselAll:hover, .Core_ACT_Table a.Prefs:hover, .Core_ACT_Table a.Ref:hover, .Core_ACT_Table a.Rep:hover, .Core_ACT_Table a.SelAll:hover , .Core_ACT_Table a.DeselAll:hover, .Core_HTML_Table a.Prefs:hover, .Core_HTML_Table a.Ref:hover, .Core_HTML_Table a.Rep:hover, .Core_HTML_Table a.SelAll:hover , .Core_HTML_Table a.DeselAll:hover, .Core_Small_Table a.Prefs:hover, .Core_Small_Table a.Ref:hover, .Core_Small_Table a.Rep:hover, .Core_Small_Table a.SelAll:hover , .Core_Small_Table a.DeselAll:hover , .Core_Table a.Prefs:hover, .Core_Table a.Ref:hover, .Core_Table a.Rep:hover, .Core_Table a.SelAll:hover , .Core_Table a.DeselAll:hover {
background: #C4C4C4 !important;
color: #444 !important;
}

.Core_GRP_Table td.TableHdrL, .Core_GEN_Table td.TableHdrL, .Core_MSG_Table td.TableHdrL, .Core_NAV_Table td.TableHdrL, .Core_ACT_Table td.TableHdrL, .Core_HTML_Table td.TableHdrL, .Core_Small_Table td.TableHdrL, .Core_Table td.TableHdrL {
font-family: Arial !important;
padding-left: 0px !important;
}

.Core_GRP_Table a.chunkleftbtnd img, .Core_GRP_Table a.chunkleft img, .Core_GEN_Table a.chunkleftbtnd img, .Core_GEN_Table a.chunkleft img, .Core_MSG_Table a.chunkleftbtnd img, .Core_MSG_Table a.chunkleft img, .Core_NAV_Table a.chunkleftbtnd img, .Core_NAV_Table a.chunkleft img, .Core_ACT_Table a.chunkleftbtnd img, .Core_ACT_Table a.chunkleft img, .Core_HTML_Table a.chunkleftbtnd img, .Core_HTML_Table a.chunkleft img, .Core_Small_Table a.chunkleftbtnd img, .Core_Small_Table a.chunkleft img, .Core_Table a.chunkleftbtnd img, .Core_Table a.chunkleft img {
width: 0px !important;
}

.Core_GRP_Table a.chunkleft:hover, .Core_GEN_Table a.chunkleft:hover, .Core_MSG_Table a.chunkleft:hover, .Core_NAV_Table a.chunkleft:hover, .Core_ACT_Table a.chunkleft:hover, .Core_HTML_Table a.chunkleft:hover, .Core_Small_Table a.chunkleft:hover, .Core_Table a.chunkleft:hover  {
color: #FFFFFF !important;
text-decoration: none ! important;
background-color: #0588BC !important;
}

.Core_GRP_Table a.chunkleftbtnd, .Core_GRP_Table a.chunkleft, .Core_GEN_Table a.chunkleftbtnd, .Core_GEN_Table a.chunkleft, .Core_MSG_Table a.chunkleftbtnd, .Core_MSG_Table a.chunkleft, .Core_NAV_Table a.chunkleftbtnd, .Core_NAV_Table a.chunkleft, .Core_ACT_Table a.chunkleftbtnd, .Core_ACT_Table a.chunkleft, .Core_HTML_Table a.chunkleftbtnd, .Core_HTML_Table a.chunkleft {
background-color: #FFFFFF !important;
}

.Core_GRP_Table a.chunkleftbtnd:after, .Core_GRP_Table a.chunkleft:after, .Core_GEN_Table a.chunkleftbtnd:after, .Core_GEN_Table a.chunkleft:after , .Core_MSG_Table a.chunkleftbtnd:after, .Core_MSG_Table a.chunkleft:after , .Core_NAV_Table a.chunkleftbtnd:after, .Core_NAV_Table a.chunkleft:after, .Core_ACT_Table a.chunkleftbtnd:after, .Core_ACT_Table a.chunkleft:after, .Core_HTML_Table a.chunkleftbtnd:after, .Core_HTML_Table a.chunkleft:after, .Core_Small_Table a.chunkleftbtnd:after, .Core_Small_Table a.chunkleft:after, .Core_Table a.chunkleftbtnd:after, .Core_Table a.chunkleft:after {
font-family: Arial !important;
background-color: #FFFFFF !important;
font-size: 16px !important;
font-weight: bold !important;
color: #00578A !important;
content: " << ";
}

.Core_GRP_Table a.chunkleftbtnd:after, .Core_GEN_Table a.chunkleftbtnd:after, .Core_MSG_Table a.chunkleftbtnd:after, .Core_NAV_Table a.chunkleftbtnd:after, .Core_ACT_Table a.chunkleftbtnd:after, .Core_HTML_Table a.chunkleftbtnd:after, .Core_Small_Table a.chunkleftbtnd:after, .Core_Table a.chunkleftbtnd:after {
color: #CCCCCC !important;
}

.Core_GRP_Table a.chunkleftbtnd:after, .Core_GRP_Table a.chunkleft:after, .Core_GEN_Table a.chunkleftbtnd:after, .Core_GEN_Table a.chunkleft:after , .Core_MSG_Table a.chunkleftbtnd:after, .Core_MSG_Table a.chunkleft:after , .Core_NAV_Table a.chunkleftbtnd:after, .Core_NAV_Table a.chunkleft:after, .Core_ACT_Table a.chunkleftbtnd:after, .Core_ACT_Table a.chunkleft:after, .Core_HTML_Table a.chunkleftbtnd:after, .Core_HTML_Table a.chunkleft:after {
font-size: 14px !important;
}

.Core_GRP_Table div.TableChunkDiv input, .Core_GEN_Table div.TableChunkDiv input, .Core_MSG_Table div.TableChunkDiv input , .Core_NAV_Table div.TableChunkDiv input, .Core_ACT_Table div.TableChunkDiv input, .Core_HTML_Table div.TableChunkDiv input, .Core_Small_Table div.TableChunkDiv input, .Core_Table div.TableChunkDiv input {
font-family: Arial !important;
}

.Core_GRP_Table a.chunkright img, .Core_GRP_Table a.chunkrightbtnd img, .Core_GEN_Table a.chunkright img, .Core_GEN_Table a.chunkrightbtnd img, .Core_MSG_Table a.chunkright img, .Core_MSG_Table a.chunkrightbtnd img, .Core_NAV_Table a.chunkright img, .Core_NAV_Table a.chunkrightbtnd img, .Core_ACT_Table a.chunkright img, .Core_ACT_Table a.chunkrightbtnd img, .Core_HTML_Table a.chunkright img, .Core_HTML_Table a.chunkrightbtnd img, .Core_Small_Table a.chunkright img, .Core_Small_Table a.chunkrightbtnd img, .Core_Table a.chunkright img, .Core_Table a.chunkrightbtnd img{
width: 0px !important;
}

.Core_GRP_Table a.chunkright:hover, .Core_GEN_Table a.chunkright:hover, .Core_MSG_Table a.chunkright:hover , .Core_NAV_Table a.chunkright:hover, .Core_ACT_Table a.chunkright:hover, .Core_HTML_Table a.chunkright:hover, .Core_Small_Table a.chunkright:hover, .Core_Table a.chunkright:hover  {
color: #FFFFFF !important;
text-decoration: none ! important;
background-color: #0588BC !important;
}

.Core_GRP_Table a.chunkright, .Core_GRP_Table a.chunkrightbtnd, .Core_GEN_Table a.chunkright, .Core_GEN_Table a.chunkrightbtnd, .Core_MSG_Table a.chunkright, .Core_MSG_Table a.chunkrightbtnd, .Core_NAV_Table a.chunkright, .Core_NAV_Table a.chunkrightbtnd, .Core_ACT_Table a.chunkright, .Core_ACT_Table a.chunkrightbtnd, .Core_HTML_Table a.chunkright, .Core_HTML_Table a.chunkrightbtnd {
background-color: #FFFFFF !important;
}

.Core_GRP_Table a.chunkright:after, .Core_GRP_Table a.chunkrightbtnd:after, .Core_GEN_Table a.chunkright:after, .Core_GEN_Table a.chunkrightbtnd:after , .Core_MSG_Table a.chunkright:after, .Core_MSG_Table a.chunkrightbtnd:after, .Core_NAV_Table a.chunkright:after, .Core_NAV_Table a.chunkrightbtnd:after, .Core_ACT_Table a.chunkright:after, .Core_ACT_Table a.chunkrightbtnd:after, .Core_HTML_Table a.chunkright:after, .Core_HTML_Table a.chunkrightbtnd:after, .Core_Small_Table a.chunkright:after, .Core_Small_Table a.chunkrightbtnd:after , .Core_Table a.chunkright:after, .Core_Table a.chunkrightbtnd:after {
font-family: Arial !important;
background-color: #FFFFFF !important;
font-size: 16px !important;
font-weight: bold !important;
color: #00578A !important;
content: " >> ";
}

.Core_GRP_Table a.chunkrightbtnd:after, .Core_GEN_Table a.chunkrightbtnd:after, .Core_MSG_Table a.chunkrightbtnd:after, .Core_NAV_Table a.chunkrightbtnd:after, .Core_ACT_Table a.chunkrightbtnd:after, .Core_HTML_Table a.chunkrightbtnd:after, .Core_Small_Table a.chunkrightbtnd:after, .Core_Table a.chunkrightbtnd:after {
color: #CCCCCC !important;
}

.Core_GRP_Table a.chunkright:after, .Core_GRP_Table a.chunkrightbtnd:after, .Core_GEN_Table a.chunkright:after, .Core_GEN_Table a.chunkrightbtnd:after , .Core_MSG_Table a.chunkright:after, .Core_MSG_Table a.chunkrightbtnd:after, .Core_NAV_Table a.chunkright:after, .Core_NAV_Table a.chunkrightbtnd:after, .Core_ACT_Table a.chunkright:after, .Core_ACT_Table a.chunkrightbtnd:after, .Core_HTML_Table a.chunkright:after, .Core_HTML_Table a.chunkrightbtnd:after {
font-size: 14px !important;
}

.Core_GRP_Table div.TableInner, .Core_MSG_Table div.TableInner, .Core_NAV_Table div.TableInner, .Core_Small_Table div.TableInner, .Core_Table div.TableInner {
border: 1px solid #C0C0C0 !important;
}

.Core_MSG_Table div.TableInner {
border-top: 0px !important;
}

.Core_GEN_Table div.TableInner, .Core_ACT_Table div.TableInner, .Core_ACT_Table div.TableInner, .Core_Attachment_Table div.TableInner, .Core_HTML_Table div.TableInner {
border: 0px !important;
}

.Core_GEN_Table div.TableInner {
background-color: transparent;
}

.Core_Small_Table div.BaseTableColHeaders, .Core_Table div.BaseTableColHeaders {
color: #000000 !important;
background-color: #FFFFFF !important;
background: #FFFFFF !important;
border-bottom: 1px solid #C0C0C0 !important;
filter: none !important;
}

.Core_GRP_Table div.BaseTableColHeaders, .Core_GEN_Table div.BaseTableColHeaders, .Core_MSG_Table div.BaseTableColHeaders, .Core_NAV_Table div.BaseTableColHeaders, .Core_ACT_Table div.BaseTableColHeaders, .Core_Attachment_Table div.BaseTableColHeaders, .Core_HTML_Table div.BaseTableColHeaders {
height: 0px !important;
border-bottom: 0px !important;
}

.Core_Small_Table td.BaseTableCellOdd, .Core_Small_Table td.BaseTableCell, .Core_Table td.BaseTableCell, .Core_Table td.BaseTableCellOdd {
vertical-align:Center;
padding-top: 4px !important;
padding-bottom: 4px !important;
border-top: 1px solid #F0F0F0 !important;
border-bottom: 1px solid #F0F0F0 !important;
background-color: #FFFFFF !important;
}

.Core_Small_Table td.BaseTableCell, .Core_Small_Table td.BaseTableCellOdd {
padding-top: 1px !important;
padding-bottom: 1px !important;
background-color: transparent !important;
}

.Core_Small_Table td.BaseTableCellColor, .Core_Small_Table td.BaseTableCellOddColor, .Core_Table td.BaseTableCellColor, .Core_Table td.BaseTableCellOddColor {
border-top: 1px solid #F0F0F0 !important;
border-bottom: 1px solid #F0F0F0 !important;
height: 25px !important;
background-color: #FFFFFF !important;
}

.Core_Small_Table td.BaseTableCellOddColor, .Core_Table td.BaseTableCellOddColor {
background-color: #F3F1F3 !important;
}

.Core_Table td.BaseTableCellColor, .Core_Table td.BaseTableCellOddColor {
height: 25px !important;
}

.Core_GEN_Table td.BaseTableCellOdd, .Core_GEN_Table td.BaseTableCell, .Core_NAV_Table td.BaseTableCellOdd, .Core_NAV_Table td.BaseTableCell, .Core_ACT_Table td.BaseTableCellOdd, .Core_ACT_Table td.BaseTableCell, .Core_Small_Table td.BaseTableCellColor, .Core_Small_Table td.BaseTableCellOddColor {
background-color: transparent !important;
}

.Core_HTML_Table td.BaseTableCell, .Core_HTML_Table td.BaseTableCellOdd {
background-color: #f3f3f3 !important;
}

.Core_Attachment_Table td.BaseTableCell, .Core_Attachment_Table td.BaseTableCellOdd {
vertical-align:Center;
padding-top: 3px !important;
padding-bottom: 3px !important;
background-color: #FFFFFF !important;
font-family: Arial !important;
font-size: 10px !important;
}

.Core_MSG_Table td.BaseTableCellOdd, .Core_MSG_Table td.BaseTableCell {
background-color: #ffffff !important;
border: 1px solid #d8d8d8 !important;
border-width: 1px 0 !important;
}

.Core_MSG_Table td.BaseTableCellOdd {
border-top: 0px !important;
}

.Core_GEN_Table td.BaseTableCellOdd, .Core_GEN_Table td.BaseTableCell {
border: 0px !important;
}

.Core_GRP_Table td.BaseTableCellOdd, .Core_GRP_Table td.BaseTableCell {
background-color: #ffffff !important;
border: 1px solid #d8d8d8 !important;
border-width: 1px !important;
border-right: 0px !important;
vertical-align: top !important;
}

.Core_GRP_Table td.BaseTableCell, .Core_GRP_Table td.BaseTableCellOdd, .Core_GRP_Table tr.SelPrimary td, .Core_GRP_Table tr.SelSecondary td {
padding-left: 22px !important;
}


.Core_GRP_Table td nobr span, .Core_GEN_Table td nobr span, .Core_MSG_Table td nobr span, .Core_NAV_Table td nobr span, .Core_ACT_Table td nobr span, .Core_Attachment_Table td nobr span, .Core_Small_Table td nobr span, .Core_Table td nobr span {
font-family: Arial !important;
font-size: 12px !important;
}

.Core_GRP_Table td nobr span, .Core_GEN_Table td nobr span, .Core_MSG_Table td nobr span, .Core_NAV_Table td nobr span, .Core_ACT_Table td nobr span, .Core_Attachment_Table td nobr span, .Core_HTML_Table td nobr span {
width: 100% !important;
padding: 0px !important;
}

.Core_Attachment_Table td nobr span {
font-size: 10px !important;
}

.Core_Attachment_Table tr.SelPrimary td, .Core_Small_Table tr.SelPrimary td, .Core_Table tr.SelPrimary td {
    background-color: #86C6EC !important;
}

.Core_Table tr.SelPrimary td, .Core_Table tr.SelSecondary td {
	height: 25px !important;
}

.Core_HTML_Table tr.SelPrimary td {
background-color: #f3f3f3 !important;
}

.Core_GRP_Table tr.SelPrimary td, .Core_GEN_Table tr.SelPrimary td, .Core_MSG_Table tr.SelPrimary td, .Core_NAV_Table tr.SelPrimary td, .Core_ACT_Table tr.SelPrimary td {
background-color: #c1e1f5 !important;
}

.Core_GRP_Table tr.SelPrimary td, .Core_GEN_Table tr.SelPrimary td, .Core_MSG_Table tr.SelPrimary td {
border: 1px solid #d8d8d8 !important;
border-width: 1px 0 !important;
}

.Core_GRP_Table tr.SelPrimary td {
vertical-align: top !important;
}

.Core_Attachment_Table tr.SelSecondary td, .Core_Small_Table tr.SelSecondary td, .Core_Table tr.SelSecondary td {
    background-color: #A7D5F2 !important;
}

.Core_HTML_Table tr.SelSecondary td {
background-color: #f3f3f3 !important;
}

.Core_GRP_Table tr.SelSecondary td, .Core_GEN_Table tr.SelSecondary td, .Core_MSG_Table tr.SelSecondary td, .Core_NAV_Table tr.SelSecondary td, .Core_ACT_Table tr.SelSecondary td {
background-color: #c1e1f5 !important;
}

.Core_GRP_Table tr.SelSecondary td, .Core_GEN_Table tr.SelSecondary td, .Core_MSG_Table tr.SelSecondary td {
border: 1px solid #d8d8d8 !important;
border-width: 1px 0 !important;
}

.Core_GRP_Table tr.SelSecondaryRollover td, .Core_GRP_Table tr.SelPrimaryRollover td, .Core_GRP_Table tr.Rollover td, .Core_GEN_Table tr.SelSecondaryRollover td, .Core_GEN_Table tr.SelPrimaryRollover td, .Core_GEN_Table tr.Rollover td, .Core_MSG_Table tr.SelSecondaryRollover td, .Core_MSG_Table tr.SelPrimaryRollover td, .Core_MSG_Table tr.Rollover td, .Core_NAV_Table tr.SelSecondaryRollover td, .Core_NAV_Table tr.SelPrimaryRollover td, .Core_NAV_Table tr.Rollover td , .Core_ACT_Table tr.SelSecondaryRollover td, .Core_ACT_Table tr.SelPrimaryRollover td, .Core_ACT_Table tr.Rollover td, .Core_Attachment_Table tr.Rollover td, .Core_Small_Table tr.Rollover td, .Core_Table tr.Rollover td {
    background-color: #C1E1F5 !important;
}

.Core_Attachment_Table tr.SelPrimaryRollover td, .Core_Small_Table tr.SelPrimaryRollover td, .Core_Table tr.SelPrimaryRollover td {
    background-color: #58ABDF !important;
}

.Core_Attachment_Table tr.SelSecondaryRollover td, .Core_Small_Table tr.SelSecondaryRollover td, .Core_Table tr.SelSecondaryRollover td {
    background-color: #70B8E5 !important;
}

.Core_HTML_Table tr.SelSecondaryRollover td, .Core_HTML_Table tr.SelPrimaryRollover td, .Core_HTML_Table tr.Rollover td {
background-color: #f3f3f3 !important;
}

.Core_GRP_Table tr.SelSecondaryRollover td, .Core_GRP_Table tr.SelPrimaryRollover td, .Core_GRP_Table tr.Rollover td, .Core_GEN_Table tr.SelSecondaryRollover td, .Core_GEN_Table tr.SelPrimaryRollover td, .Core_GEN_Table tr.Rollover td, .Core_MSG_Table tr.SelSecondaryRollover td, .Core_MSG_Table tr.SelPrimaryRollover td, .Core_MSG_Table tr.Rollover td {
cursor: pointer;
}

.Core_GRP_Table div.BaseTableInner table, .Core_GEN_Table div.BaseTableInner table, .Core_MSG_Table div.BaseTableInner table, .Core_NAV_Table div.BaseTableInner table, .Core_ACT_Table div.BaseTableInner table, .Core_Attachment_Table div.BaseTableInner table, .Core_HTML_Table div.BaseTableInner table {
top: 0px !important;
}

.Core_GEN_Table div.BaseTableInner {
top: 0px !important;
}

.Core_GRP_Table div.TableFtr, .Core_GEN_Table div.TableFtr, .Core_MSG_Table div.TableFtr, .Core_Attachment_Table div.TableFtr, .Core_HTML_Table div.TableFtr {
background-color: #F0F0F0 !important;
border: #F0F0F0 !important;
}

.Core_NAV_Table div.TableFtr, .Core_ACT_Table div.TableFtr {
background-color: transparent !important;
}

.Core_GEN_Table div.BaseTableOuter, .Core_ACT_Table div.BaseTableOuter, .Core_HTML_Table div.BaseTableOuter {
background-color: transparent !important;
}

.Core_GRP_Table .treeTable td hr.separator {
height: 0px !important;
border: 0px !important;
}

.Core_GRP_Table .parent > td {
background-color: #fff !important;
}

.Core_GRP_Table .separator.initialized > td {
background-color: #fff !important;
}

.Core_GRP_Table col {
width: 100% !important;
}

.Core_GRP_Table .BaseTable.treeTable {
width: 100% !important;
}

.Core_GRP_Table table.BaseTable {
width: 100% !important;
}